/* For the whole nav container to fade in */
.fadeIn {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fadeInActive {
    opacity: 1;
    transform: translateX(0);
}

/* For individual nav items sliding in one by one */
.navItem {
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.navItemActive {
    opacity: 1;
    transform: translateX(0);
}

/* Add stagger effect for nav items */
.navItem:nth-child(1) {
    transition-delay: 0.1s;
}

.navItem:nth-child(2) {
    transition-delay: 0.2s;
}

.navItem:nth-child(3) {
    transition-delay: 0.3s;
}

.navItem:nth-child(4) {
    transition-delay: 0.4s;
}

.navItem:nth-child(5) {
    transition-delay: 0.5s;
}