@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aleo font-face definitions */
@font-face {
    font-family: 'Aleo';
    src: url('/fonts/Aleo-Regular.woff2') format('woff2'),
        url('/fonts/Aleo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/fonts/Aleo-Bold.woff2') format('woff2'),
        url('/fonts/Aleo-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* DINOT font-face definitions */
@font-face {
    font-family: 'DINOT';
    src: url('/fonts/DINOT-Regular.woff2') format('woff2'),
        url('/fonts/DINOT-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINOT';
    src: url('/fonts/DINOT-Bold.woff2') format('woff2'),
        url('/fonts/DINOT-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: #1A1A1A;
    font-family: Dinot, sans-serif;
    margin: 0;
    padding: 0;
}

/* PARALLAX */
.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* SCROLLBARS */
.scrollbar-custom::-webkit-scrollbar {
    width: 2px;
    /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
    /* Track color */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    /* White with 30% opacity */
    border-radius: 10px;
    /* Optional: round edges */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
    /* Slightly more opaque on hover */
}

/* Firefox */
.scrollbar-custom {
    scrollbar-width: thin;
    /* Options: auto, thin, none */
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
    /* Thumb color and track color */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .clip-corner {
        clip-path: polygon(100% 100%, 100% 0, 100% 55%, 3% 100%);
    }
}